{% extends "layout.html" %}
{% block content %}
{% include 'includes/assessor_navbar.html' %}

<div class="artifactList">
	<legend><small>Artifacts</small></legend>
	<table class=artifactTable cellpadding="20">
		<tr>
		<th>MSEL</th>
		<th>Name</th>
		<th>Type</th>
		<th>String</th>
		<th>Phase</th>
		<th>PhaseArtifactId</th>
		<th>Difficulty</th>
		<th>Notes</th>
		</tr>
	{% for a in results %}
		<tr>
		<td>{{ a.msel }}</td>
		<td>{{ a.artifactName }}</td>
		<td>{{ a.artifactType }}</td>
		<td>{{ a.artifactString }}</td>
		<td>{{ a.phaseId }}</td>
		<td>{{ a.phaseArtifactId }}</td>
		<td>{{ a.difficulty}}</td>
		<td>{{ a.notes }}</td>	
		</tr>
	{% endfor %}
	</table>
</div>


{% endblock content %}