{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method ="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Create an account: {{ title }}</legend>
				<div class ="form-group">
					{{ form.username.label(class="form-control-label") }}

					{% if form.username.errors %}
						{{ form.username(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.username.errors %}
								<span>{{ error }}</span>
							{% endfor %}
							
						</div>
					{% else %}
						{{ form.username(class="form-control form-control-lg") }}
					{% endif %}

				</div>
				<div class ="form-group">
					{{ form.password.label(class="form-control-label") }}
					
					{% if form.password.errors %}
						{{ form.password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
							
						</div>
					{% else %}
						{{ form.password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class ="form-group">
					{{ form.confirm_password.label(class="form-control-label") }}
					
					{% if form.confirm_password.errors %}
						{{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.confirm_password.errors %}
								<span>{{ error }}</span>
							{% endfor %}
							
						</div>
					{% else %}
						{{ form.confirm_password(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<!--<div class="form-check">
				{{ form.admin_or_not(class="form-check-input") }}
				{{ form.admin_or_not.label(class="form-check-label") }}
			</div>
			<label class="switch">
				<input class="switch-input" type="checkbox" name="assessor_or_not" />
				<span class="switch-label" data-on="Assessor" data-off="Team"></span> 
				<span class="switch-handle"></span> 
			</label> -->
			<dir class ="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</dir>
		</form>
	</div>
	<!--<div class="border-top pt-3">
		<small class="tet-muted">
			Already Have an Account? <a class="ml-2" href="{{ url_for('login') }}" >Sign In</a>
		</small>
	</div>-->
		<div class="border-top pt-3">
		<small class="tet-muted">
			<a class="ml-2" href="{{ url_for('registerAdmin') }}">Admin</a>
			<a class="ml-2" href="{{ url_for('register') }}">Assessor</a>
		</small>
	</div>

{% endblock content %}